.orderReviewWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderReviewContainer {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.orderReviewTitle {
    font-size: 2rem;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
    display: inline-block;
}


.orderReviewContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderReviewContentFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}