:root {
    --vanilla-cream: #FEFAE0;
    --matcha-leaf: #6B705C;
    --black-bean: #000000;
    --dark-mocha: #554747;
    --matcha-moss: #606C38;
    --dusty-matcha: #A5A58D;
    --wild-drip: #6B705C;
    --misty-milk: #D9D9D9;
    --herbal-cream: #A5A58D;
    --latte-caramelo: #C0967A;
    --latte-foam: #F9F7E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
