.productDetailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.productDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.productDetailsContentContainer {
    display: flex;
    gap: 1rem;
}

.productDetailsImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.productDetailsInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productDetailsImageCarousel {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.productDetailsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productDetailsTitle {
    font-size: 2rem;
    font-weight: 600;
}

.productsDetailsPrice {
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid var(--black-bean);
    background-color: var(--matcha-moss);
    border-radius: 1rem;
    padding: 0.3rem;
    font-weight: 900;
}

.productDetailsBuySection {
    display: flex;
    gap: 1rem;
}