.teste {
    border-top: 1px solid var(--latte-caramelo);
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.coffeeShopsUnitInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 450px;
}

.coffeeShopsUnitInfoTitle {
    font-size: 1.2rem;
}

.coffeeShopsUnitInfoAddress {
    font-size: 0.9rem;
}

.coffeeShopsUnitInfoMoreInfo {
    font-size: 0.9rem;
    color: var(--matcha-leaf);
    font-weight: 700;
}

.iconMock {
    width: 3rem;
    height: 3rem;
    background-color: var(--vanilla-cream);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.iconMock:hover {
    background-color: var(--latte-caramelo);
    transform: scale(1.05);
}

.iconMock:active {
    transform: scale(0.95);
}

.iconContainer {
    display: flex;
    gap: 1rem;
}

.teste {
    display: flex;
    align-items: center;
}