.carouselHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
	font-size: 2rem;
	border-bottom: 1px solid var(--black-bean);
	display: inline-block;
	margin: 2rem 0 1rem 4rem;
}

.carouselWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
	margin-top: 1rem;
}

.arrowLeft,
.arrowRight {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.arrowLeft {
    margin-right: 10px;
}
  
.arrowRight {
	margin-left: 10px;
}

.loadingContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
